.fundo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
}
.fundo img {
  height: 500px;
  width: 100%;
}

p {
  background-color: bisque;
  width: 600px;
  position: absolute;
  top: 135px;
  font-size: 25px;
  font-family: arial;
}
